@keyframes openEditBox{
    from{width: 0px;}
    to{width: 60px;}
}

.editBox{
    width: 60px;
    border-radius: 5px;

    box-shadow: rgb(92, 92, 92) 0 0px 10px;
    cursor: pointer;

    color: #000;

    animation-name: openEditBox;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;

    overflow: hidden;

    z-index: 998;
}

.colorOverlay p{
    background-color: white;
    border-radius: 5px;
    padding: 7px 0px;
    width: 100%;
    margin: 0px;

    transition: all 0.5s;
}

.colorOverlay p:hover{
    opacity: 0.7;

}

.colorOverlay{
    background-color: rgba(0, 0, 0, 0.25);
    height: 100%;
    border-radius: 5px;
    padding:4px;
    text-align: center;
}