@keyframes folderOpen {
    from {height: 0; width: 0;}
    to {height: 226px; width: 276px;}
}

@keyframes folderOpen2 {
    from {height: 0; width: 0;}
    to {height: 216px; width: 206px;}
}

@keyframes folderOpen3 {
    from {height: 0; width: 0;}
    to {height: 226px; width: 30px;}
}

.folderAnimationDiv{
    border-radius: 15px;

    position:absolute;  

    opacity: 0.7;

    animation: 0.5s ease-in-out 0s 1 normal forwards running folderOpen;
    z-index: 3;
}

.folder{
    height: 0;
    width: 0;

    display: flex;

    border-radius: 15px;

    animation: 0.5s ease-in-out 0s 1 normal forwards running folderOpen;

    overflow: hidden;
}

.folderContents{
    position: relative;

    padding: 5px;

    height: 216px;
    width: 206px;

    z-index: 5;

    animation-name: folderOpen2;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.folderContents .shortcut:nth-child(1){
    position: absolute;
    top: 0%;
    left: 0%;
}

.folderContents .shortcut:nth-child(2){
    position: absolute;
    top: 0%;
    left: 50%;
}

.folderContents .shortcut:nth-child(3){
    position: absolute;
    top: 50%;
    left: 0%;
}

.folderContents .shortcut:nth-child(4){
    position: absolute;
    top: 50%;
    left: 50%;
}

.folderContents > .shortcut{
    flex-basis: 44.4%;
    margin: 5px;
}

.arrow{
    transition: all 0.2s;

    z-index: 4;

    height: 226px;
    width: 30px;

    border-radius: 0 15px 15px 0;

    margin: 0;

    animation-name: folderOpen3;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.arrowNoHover:first-child,
.arrow:first-child{
    border-radius: 15px 0px 0px 15px;
}

.arrow:hover{
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.arrow p{
    position: relative;
    top: 30%;

    font-size: 30px;
}

.arrowNoHover{
    z-index: 4;

    height: 226px;
    width: 30px;

    border-radius: 0 15px 15px 0;

    animation-name: folderOpen3;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.arrowNoHover p{
    position: relative;
    top: 50%;
    transform: translate(0,-50%);

    font-size: 30px;
    margin: 10px;
}

