@media (max-height: 540px){
    header{
        grid-template-columns: 16% 16% 16% 16% 16% 20%;
        grid-template-rows:50% 50%;
    }
    
    header h1{
        display: flex;

        grid-row-start: 1;

        grid-column-start: 1;
        grid-column-end: 3;

        font-size: 25px;
    }

    #settings{
        display: flex;

        grid-column-start: 4;
        grid-column-end: 7;
    }

    #addFolder,
    #addNote,
    #addShortcut{

        display: flex;

        grid-row-start: 2;
        grid-row-end: 2;
        
        position: relative;
        left: 0%;
        top: 50%;
        transform: translate(0%,-50%);

        font-size: 20px;

        width: 200%;

        border-radius: 0px 0px 0px 0px;
        padding: 17px 0;
    }

    #addShortcut{
        grid-column-start: 1;
        grid-column-end: 2;
    }

    #addFolder{
        grid-column-start: 3;
        grid-column-end: 4;
    }

    #addNote{
        grid-column-start: 5;
        grid-column-end: 6;

        width: 225%;
    }

    .borderBox{
        margin-top: 80px;
    }
}

@media (min-height: 540px) and (max-height:900px){
    header{
        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-template-rows:100%;
    }
    
    header h1{
        font-size: 50px;
    }

    #addFolder,
    #addNote,
    #addShortcut{
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);

        font-size: 32px;

        width: 50%;

        border-radius: 50px 10px 50px 10px;

        padding: 20px 20px;
    }

    .borderBox{
        margin-top: 80px;
    }
}

@media (min-height: 900px){
    header{
        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-template-rows:100%;
    }
    
    header h1{
        font-size: 50px;
    }

    #addFolder,
    #addNote,
    #addShortcut{
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);

        font-size: 32px;

        width: 50%;

        border-radius: 50px 10px 50px 10px;

        padding: 20px 20px;
    }

    .borderBox{
        margin-top: 40px;
    }
}

@media (min-width: 1200px){
    .searchBar{
        width: 500px;
    }

    .searchList,
    .searchBarInput{
        width: 90%;
    }

    .colorPopup{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(+50%,-50%);
    }
}

@media (max-width: 1200px) and (min-width: 750px){
    header h1{
        font-size: 30px;
    }

    #addFolder p,
    #addNote p,
    #addShortcut p{
        font-size: 25px;
    }

    .searchBar{
        width: 500px;
    }

    .searchList,
    .searchBarInput{
        width: 90%;
    }

    .colorPopup{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(+50%,-50%);
    }
}

@media (max-width: 750px){
    header{
        grid-template-columns: 16% 16% 16% 16% 16% 20%;
        grid-template-rows:50% 50%;
    }
    
    header h1{
        display: flex;

        grid-row-start: 1;

        grid-column-start: 1;
        grid-column-end: 3;

        font-size: 25px;
    }

    #settings{
        display: flex;

        grid-column-start: 4;
        grid-column-end: 7;
    }

    #addFolder p,
    #addNote p,
    #addShortcut p{
        font-size: 20px;
    }

    #addFolder,
    #addNote,
    #addShortcut{

        display: flex;

        grid-row-start: 2;
        grid-row-end: 2;
        
        position: relative;
        left: 0%;
        top: 50%;
        transform: translate(0%,-50%);
        width: 200%;

        border-radius: 0px 0px 0px 0px;
        padding: 17px 0;
    }

    #addShortcut{
        grid-column-start: 1;
        grid-column-end: 2;
    }

    #addFolder{
        grid-column-start: 3;
        grid-column-end: 4;
    }

    #addNote{
        grid-column-start: 5;
        grid-column-end: 6;

        width: 225%;
    }

    .searchBar{
        width: 300px;
    }

    .searchList,
    .searchBarInput{
        width: 250px;
    }

    .colorPopup{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,0%);

    }
}


body{
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: grey;
    user-select: none;

    overflow-x: hidden;
}

main{
    height: 100vh;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
}

header{
    display: grid;

    width: 100%;
    background-color: rgba(0, 0, 0, 0.404);

    padding: 0;
    border-radius: 0 0 20px 20px;

    z-index: 20;

    box-shadow: 0px 1px 30px black;
}

header h1{

    color: white;
    font-variant: small-caps;

    position: relative;
    left: 70%;
    top: 70%;  
    transform: translate(-50%,-50%);

    margin: 0;

    text-shadow: 5px 5px 0px rgba(0, 0, 0, 0.75), 10px 10px 0px rgba(255, 255, 255, 0.5), 15px 15px 0px rgba(0, 0, 0, 0.25), 20px 20px 0px rgba(255, 255, 255, 0.1);
}

#addFolder,
#addNote,
#addShortcut{
    height: 50%;

    transition: all 0.2s;

    text-align: center;

    background-color: darkgray;

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

    float: right;
}

#addFolder:hover,
#addNote:hover,
#addShortcut:hover{
    background-color: gainsboro;
    cursor: pointer;
}

#addFolder p,
#addNote p,
#addShortcut p{
    margin: 0;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

#notes{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0%;
    top:0%;
}

#settings{
    height: 50%;

    position: relative;
    right: 0%;
    top: 50%;
    transform: translate(-0,-50%);


    float: right;

    padding: 10px;
}

#settings img{
    height: 100%;
    filter: invert();
    opacity: 0.7;

    padding: 10px;
    border-radius: 20px;

    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    transition: all 0.5s;
}

#settings img:hover{
    background-color: gainsboro;
    cursor: pointer;
    opacity: 1;
}

#tiles{
    display: flex;
    flex-wrap: wrap;

    position: relative;
    left: 50%;
    transform: translate(-50%,0%);

    border-radius: 15px;
}

.borderBox{
    padding:3px;
    position: relative;
    left: 50%;
    transform: translate(-50%,0%);
    border-radius: 17px;
}

.subText{
    font-size: 30px;
    margin-top: 100px;
}

.noFreeSpace{
    transition: all 2s;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    width: 300px;
    height: 100px;

    background-color: rgb(194, 50, 50);

    border-radius: 20px;

    opacity: 0;

    z-index: -1;
}

.noFreeSpace > p{
    margin: 0;

    text-align: center;

    position: relative;
    top: 50%;
    transform: translate(0,-50%);

    color: rgb(110, 0, 0);
}

.show{
    opacity: 1;

    z-index: 50;
}

.noteDisplay{
    position: absolute;
    top: 137px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.418);

    border-radius: 10px;
    text-align: center;

    transition: all 0.5s;
    overflow: hidden;

    z-index: 998;
}

.noteDisplay p{
    margin: 0;
    cursor: pointer;
    height: 20px;
    color: rgb(228, 228, 228);
}

.noteDisplay p:hover{
    background-color: rgba(255, 255, 255, 0.466);
    color: black;
}

.selected{
    background-color: rgb(39, 39, 39);
    color: black;
}
