@keyframes openForm {
    from {top:-50%}
    to {top: 50%;}
}

@media (max-height: 700px){
    form{
        transform: translate(-50%,-25%);
    }
}
@media (min-height: 700px){
    form{
        transform: translate(-50%,-50%);
    }
}

.wrong{
    color: darkred;
    background-color: rgb(170, 48, 48);
}

.buttons{
    width: 65%;
    display: flex;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);

    margin-top: 10px;
}

.colorPopup{
    padding: 10px;
    border-radius: 20px;
    background-color: gray;
    box-shadow: black 0 0 10px;

    z-index: 32;
}

.colorPicker{
    width:80%;

    background-color:"whitesmoke";
    opacity:1; 
    padding:5px;

    position:relative;
    left:50%;
    transform: translate(-50%,0);
}

.defaultSettings{
    position:relative;
    left:50%;
    transform: translate(-50%,0);

    margin: 0;
}

.imageRadio{
    position: absolute;
    width: 50px;
    height: 50px;
    opacity: 0;
    z-index: 10;
    cursor: pointer;
}

.imageRadio:hover + img{
    background-color: rgba(77, 76, 76, 0.466);
}

.enginePicker{
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
    height: 80px;
    width: 280px;
    margin: 0;
}

[type=radio] + img {
    height: 50px;
    margin: 0;

    position: relative;
    left: 50%;
    transform: translate(-50%,0);

    border-radius: 10px;
    padding: 5px;
}

[type=radio]:checked + img {
    background-color: rgba(216, 213, 213, 0.26);
}

span{
    float:left;
    width: 50px;
    border-radius: 10px;
    margin: 10px;
}

form{
    transition: all 0.5s ease-out;
    animation: openForm 0.7s ease-in-out forwards;

    position: absolute;
    top: 50%;
    left: 50%;

    background-color: rgba(0, 0, 0, 0.616);

    padding: 20px;
    width: 300px;

    border-radius: 15px;

    color: rgb(214, 214, 214);

    z-index: 999;
}

input{
    width: 100%;
    margin-bottom: 10px;
}

input[type=color]{
    width: 80%;
    height: 30px;

    position: relative;
    left: 50%;
    transform: translate(-50%,0);
}

form input[type=checkbox]{
    transform: translate(0%,-150%);
    margin-bottom: 0;
}

textarea{
    width: 100%;
    height: 100px;
    resize: none;

    margin-bottom: 10px;
}

button{
    margin: 10px;
}